{% extends 'base.html.twig' %}

{% block title %}{{ tache.nom }}{% endblock %}

{% block body %}
 <h1>{{ tache.nom }}</h1>
 <p>{{ tache.description }}</p>
 <p>{{ tache.horaire|date('d-m-Y H:i:s') }}</p>
 <hr>
 <a href="/">Retour</a>
{% endblock %}